<div class="task-div task-item-<%= task.id %>">
    <div class="group-head-div">
    <button class="edit-task-btn task-title-<%= task.id %>" data-task-id="<%= task.id %>">
        <%= task.title %>
    </button>
        <%= form_with(model: task, method: :delete, data: { confirm: 'Você tem certeza?' }) do |form| %>
            <%= form.button nil, class: "btn-delete-task btn btn-primary" do %>
                <i class="fa-solid fa-trash-can-arrow-up"></i>            
            <% end %>
        <% end %>
    </div>

    <div class="group-head-div note">
        <p><%= task.note %></p>
        <div class="task-switch">
            <%= form_with(model: task, method: :patch, url: task_path(task), remote: true) do |form| %>
                <label class="switch">
                    <%= form.check_box :completed, 
                        class: "switch-input task-checkbox", 
                        onchange: "this.form.submit();"
                    %>
                    <span class="slider round"></span>
                </label>
            <% end %>
        </div>

    </div>
</div>
