<div class="task-item-<%= task.id %>">
    <div class="group-head-div">
        <strong><%= task.title %></strong>
        <button class="edit-task-btn btn btn-primary right" data-task-id="<%= task.id %>">Edit</button>
        <%= form_with(model: task, method: :delete, data: { confirm: 'Você tem certeza?' }) do |form| %>
            <%= form.submit 'X', class: 'btn btn-primary right' %>
        <% end %>
    </div>
    <p><%= task.note %></p>
    <div class="task-switch">
        <%= form_with(model: task, method: :patch, url: task_path(task), remote: true) do |form| %>
            <label class="switch">
                <%= form.check_box :completed, 
                    class: "switch-input task-checkbox", 
                    data: { task_id: task.id, title: task.title, note: task.note, list_id: task.list_id },
                    onchange: "this.form.submit();"
                %>
                <span class="slider round"></span>
            </label>
        <% end %>
    </div>
</div>
